.TodoList{
  margin-left: 40px;
}

.todoBox{
  padding-left:10px;
  cursor: pointer;
}

.done{
  border-left :10px solid mediumseagreen;
  text-decoration:line-through;
}

.todo{
  border-left :10px solid lightblue;
}

.doing{
  border-left :10px solid orange;
}

.header{
  font-weight:600;
  font-size:18px;
  margin:10px;
}

input{
  height:28px;
  font-size:16px;
  margin:10px;
}

