.TodoList{
  margin-left: 40px;
}

.todoBox{
  padding-left:10px;
  cursor: pointer;
}

.done{
  border-left :10px solid mediumseagreen;
  text-decoration:line-through;
}

.todo{
  border-left :10px solid lightblue;
}

.doing{
  border-left :10px solid orange;
}

.title{
  font-weight:600;
  font-size:18px;
  margin-top:10px;
  margin-bottom:10px;
}

input{
  height:28px;
  width:200px;
  font-size:16px;
  margin-top:10px;
}

.todoContainer{
  display:flex;
  justify-content: space-between;
  width:200px;
}

.todoContainer:hover .remove{
    display: block;
  }

.remove{
  margin-top:15px;
  opacity:.5;
  display:none;
  cursor: pointer;
}

