.TodoList{
  margin-left: 40px;
}

.Todo{
  padding-left:10px;
  cursor: pointer;
}

.Complete{
  border-left :10px solid mediumseagreen;
  text-decoration:line-through;
}

.Incomplete{
  border-left :10px solid lightblue;
}

.InProgress{
  border-left :10px solid orange;
}

input {
  height:28px;
  font-size:16px;
}
